
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.limit {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}
div .tags {
  line-height: 200%;
  text-align: center;
}
div .categories {
  line-height: 200%;
  text-align: center;
  font-size: 48px;
}
hr {
  border: 0;
  height: 1px;
  background: #ccc;
}
div .post-page pre {
  overflow-x: auto;
  padding: 0px;
}
div .post-page pre code {
  overflow-wrap: normal;
  white-space: pre;
}
div .post-page a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #0099FF;
}
div .post-page a:hover,
div .post-page a:focus {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #337AB7;
}
p img {
  display: block;
  max-width: 100%;
  max-height: 600px;
  /*margin: 0 0 1rem;*/

  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
