{% extends "default" %}
{% block content_wrapper %}
    <!-- Post Header -->
    <header class="intro-header" style="background-image: url('{{ site.url }}{% if page.header %}{{ page.header }}{% else %}{{ site.header }}{% endif %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
              <h1>{{ page.title }}</h1>
{% if page.description %}
              <h2 class="subheading">{{ page.description }}</h2>
{% endif %}
              <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date("j F Y")}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 article-code">
{{ page.blocks.content|raw }}
            <hr>
{% include 'googlePlusButton.twig.html' %}{% include 'twitterButton.twig.html' %}
              <hr>
              <div class="tags">
                Posted in:</br>
{% for category in page.categories %}
                  <a href="{{ site.url }}/archive/categories/{{ category|url_encode(true) }}">
                    <span class="label label-primary">
                      {{ category }}
                    </span>
                  </a>&nbsp;{% if not loop.last %} {% endif %}
{% endfor %}
              </div>
              <div class="tags">
                Tagged with:</br>
{% for tag in page.tags %}
                  <a href="{{ site.url }}/archive/tags/{{ tag|url_encode(true) }}">
                    <span class="label label-default">
                      {{ tag }}
                    </span>
                  </a>&nbsp;
{% if not loop.last %} {% endif %}
{% endfor %}
              </div>
              <hr>
{% include 'comments.twig.html' %}
              <hr>
              <ul class="pager">
{% if page.previous_post %}
                <li class="previous">
                  <a href="{{ site.url }}{{ page.previous_post.url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous_post.title}}">&larr; Previous Post</a>
                </li>
{% endif %}
{% if page.next_post %}
                <li class="next">
                  <a href="{{ site.url }}{{ page.next_post.url }}" data-toggle="tooltip" data-placement="top" title="{{page.next_post.title}}">Next Post &rarr;</a>
                </li>
{% endif %}
              </ul>
          </div>
        </div>
      </div>
    </article>
{% endblock %}
